@import '../../styles/colors';

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: $primary-color;
  height: 100vh;
  width: 15vw;
  z-index: 2;

  &__logo {
    display: flex;
    justify-content: center;
    padding: 15% 0;
    width: 100%;

    &-link {
      text-decoration: none;
      color: $light-font-color;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 5% 0 5% 8%;

    &--active {
      padding: 5% 0 5% 8%;
      background-color: $active-color;
    }

    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $light-font-color;

      .material-icons {
        margin-right: 2%;
      }
    }
  }
}
