$primary-color: rgb(45, 45, 95);
$active-color: rgb(64, 62, 168);
$light-font-color: rgb(255, 255, 255);
$body-font-color: rgb(0, 0, 0);
$background-color: rgb(255, 255, 255);
$border-color: rgb(218, 218, 218);
$active-item-color: rgb(39, 97, 139);
$dark-gray-color: rgb(68, 68, 68);
$light-gray-color: rgb(206, 206, 206);
