@import '../../styles/colors';
@import '../../styles/mixins';

.new-delivery {
  display: flex;

  .google-places-autocomplete {
    width: 60%;
  }
}

.form {
  width: 45vw;
  height: 84vh;
  margin-left: 15vw;
  margin-top: 7vh;
  padding: 2%;

  &__section {
    border: 1px solid $border-color;
    background-color: $background-color;
    padding: 4% 4% 2%;
    margin-bottom: 3%;
    border-radius: 4px;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0 0 2% 0;
  }

  &__row {
    display: flex;
    align-items: center;
    margin: 0 0 2% 1.4rem;
  }

  &__label {
    width: 15%;
    font-size: 1rem;
  }

  &__select {
    @include input;
    width: 20%;
  }

  &__small-select {
    @include input;
    margin: 1% 1% 1% 0;
  }

  &__input {
    @include input;
    width: 90%;
  }

  &__small-input {
    @include input;
    width: 5rem;
    margin: 1% 1% 1% 1%;
  }

  &__date-input {
    @include input;
    margin-right: 2%;
  }

  &__time-input {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__radio-buttons {
    display: flex;
    margin: 1% 0 2% 1.4rem;
  }

  &__radio-input {
    opacity: 0;
    display: none;
    position: absolute;

    &:checked + label {
      background: $active-item-color;
      color: $light-font-color;
    }
  }

  &__volume-selects {
    display: flex;
    width: 20%;
  }

  &__volume-measures {
    display: flex;
    flex-direction: column;
    width: 6rem;
    margin-left: 2%;

    & label {
      font-size: 0.8rem;
    }
  }

  &__radio-label {
    display: block;
    border: 1px solid $border-color;
    color: $body-font-color;
    padding: 5% 2rem;
    margin-right: 0.1rem;
    cursor: pointer;
  }

  &__label-top {
    margin: 0 1.4rem;
  }

  &__time-label {
    display: flex;
    justify-content: space-around;

    label {
      font-size: 0.8rem;
    }
  }

  &__submit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__submit-button {
    color: $light-font-color;
    background-color: $active-color;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: rgba($active-color, 0.8);
    }
  }

  &__submit-message {
    color: $active-item-color;
  }
}

.map {
  background-color: $light-gray-color;
  width: 40vw;
}
