/* bring in normalize.css styles */
@import-normalize;

/* import Alata as default font family */
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

body {
  margin: 0;
  font-family: 'Alata', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  font-size: 14px;
}
